# options to run inside docker container
directory.default.set = /torrents/download
session.path.set = /torrents/session
schedule2 = watch_directory,5,5,load_start=/torrents/watch/*.torrent
network.port_range.set = 6890-6999
network.port_random.set = no
trackers.use_udp.set = yes
dht.port.set = 6881

